#navIcon{
  width: 1.8em;
  margin-right:.5em;
}

#userIcon{
  width: 1.5em;
}

.das{
  position: absolute;
  left:16em;
  top:4em;
  width:82.4%;
}

#dropdownMenuButton {
  background-color: #e5d4ee;
}

h4 {
  margin: 1em;
}

h2{
  margin-left: 1em;
}

.nav-item {
  text-decoration: underline;
}

.dash {
  padding-top: 1em;
  background-color: #e6eeff;
  border-top: solid rgb(36, 62, 175) .09em;
  padding-bottom: 0.4em;
  padding-left: 2em;
}

.modal-header {
  background:  -webkit-linear-gradient(left, #a7c1e0a2, #e5d4ee);
}

* {
  color: black;
}

.joinMessage {
  font-size: .9em;
  margin: 1em;
}

.active2 {
  background-color: #a7c1e0a2;
}

.activebtn, .activebtn2 {
  margin-left: -1em;
  background-color: #e5d4ee;
  width:10em;
  text-align:left;
}

button:active{
  background:#a7c1e0a2;
  box-shadow: 10px 10px 5px  rgb(98, 135, 190);
}

.nav-pills > .active {
  background: #a7c1e0a2;
}

#menutitle {
  margin-left: 0.6em;
  font-family: 'Palatino', sans-serif;
  letter-spacing: .3em;
}

#purchaseHistory {
  text-size: 90%;
  text-transform: uppercase;
  font-family: 'Palatino', sans-serif;
  letter-spacing: .1em;
}

#registry, #invited {
  margin-top: -.4em;
  margin-left: 0.3em;
  font-family: 'Palatino', sans-serif;
  letter-spacing: .05em;
}

.cartbtn {
  background-color: #a7c1e0a2;
  width: 8.7em;
}

tr:nth-child(even) {
  background-color: #a7c1e0a2;
}

thead {
  background-color: #cdb4db;
}

th {
  font-family: 'Palatino', sans-serif;
  text-transform: none;
}

.noPurchases {
  font-family: Helvetica;
  margin-left: 3.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 15em;
}
