<div class="topbuttons">
  <app-sidebuttons></app-sidebuttons>
</div>

<div>
  <div class="menu border-right border-light float-left">
    <app-sidebar></app-sidebar>
  </div>

  <div class="das">
      <div class="dash">
          <h2 id="purchaseHistory">Purchase History</h2>
        </div>
        <br>
        <div *ngIf="!length">
          <h3 class="alert alert-success text-center" style="font-family: Helvetica; margin-left: 3em; width: 37em;">You have not purchased any items! </h3>
        </div>
        <div *ngIf="length">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center">Name of Item</th>
                <th class="text-center">Price</th>
                <th class="text-center">Location</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of boughtItems">
                  <td class="text-center">{{item.name}}</td>
                  <td class="text-center">{{item.price}}</td>
                  <td class="text-center">{{item.location}}</td>
                </tr>
              </tbody>
          </table>
        </div>
        <br>
      </div>
</div>
