<div class="topbuttons">
  <app-sidebuttons></app-sidebuttons>
</div>

<div>
  <div class="menu border-right border-light">
    <app-sidebar></app-sidebar>
  </div>
</div>

  <div class="das">
    <h1> create reg</h1>

    <form>
      <div class="form-group">
        <label for="registyName">Registry Name</label>
        <input type="text" class="form-control" id="regCode" aria-describedby="codeHelp" placeholder="Enter registry name" [ngModel]="newRegistry.name"
          (ngModelChange)="newRegistry.name = $event" name='rname' />
      </div>
      <div class="form-group">
        <label for="registryDescription">Description</label>
        <input type="text" class="form-control" id="regCode" aria-describedby="codeHelp" placeholder="Enter description" [(ngModel)]="newRegistry.description"
          (ngModelChange)="newRegistry.description = $event" name='rdes'>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" style="background-color: #a7c1e0a2;" data-dismiss="modal" (click)="newRegistry={}">Cancel</button>
    <button type="button" class="btn" style="background-color: #e5d4ee;" data-dismiss="modal" (click)="addRegistry()">Create</button>

  </div>
