<div class="row">
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="col image">

</div>

<div class="col">
    <br><br><br><br><br><br>
    <div class="ml-5">
        <div class="zeng">
            赠人玫瑰 手有余香
          </div>
        <div class="pround">
          We proudly introduce you Gift Registry!
        </div>
        <div class="sub ml-5">
          -- A wonderland where you send love.
        </div>
    </div>

<br><br><br><br><br><br><br><br>

<button type="button" class="ml-5 mt-5 btn bn" (click)="router.navigateByUrl('login')">
  <span class="mybtn text-white">
    Get Started!
  </span>
</button>

</div>

</div>
