<div class="topbuttons" *ngIf="account">
    <div class="row">
      <div class="userName">
        <span class="name">
          {{account[0].lastName}}
        </span>
      </div>
      
      <div class="giftReg">
        <span class="title">
          Gift Registry
        </span>
      </div>
      
      <div class="cart">
        <button routerLink='/cart/{{id}}' npmtype="button" class="btn cartbtn mt-2">
          <img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/shopping-cart-512.png" id="navIcon">({{itemCount}})
        </button>
      </div>
        
      <div class="dr">
        <span class="dropdown">
          <button class="btn dropdown-toggle dropd" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/gift-512.png" id="userIcon">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/profile/{{id}}">Profile</a>
            <a class="dropdown-item" href="/notifications/{{id}}">Notifications
              <span class="badge badge-danger" style="color: white;">{{notifCount}}</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/login">Logout</a>
          </div>
        </span>
      </div>
    </div>
</div>

<div>
  <div class="border-right border-light float-left">
    <div class="menu">
      <div class="text-center" id="menutitle">
        Menu
      </div>
      <div class="myNav">
        <div class="nav flex-column nav-pills" style="background-color: #b3ccff;" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a routerLink='/dashboard/{{id}}' class="nav-link border border-light" id="v-pills-dashboard-tab" data-toggle="pill" href="#v-pills-home" role="tab"
            aria-controls="v-pills-dashboard" aria-selected="true">
            <img src="https://cdn3.iconfinder.com/data/icons/streamline-icon-set-free-pack/48/Streamline-18-512.png" alt="" id="navIcon">
            <span>Dashboard</span>
          </a>
          <a routerLink='/create/{{id}}' class="nav-link border-bottom border-light" id="v-pills-create-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-create"
            aria-selected="false">
            <img src="https://cdn2.iconfinder.com/data/icons/arrows-and-universal-actions-icon-set/256/plus_circle-512.png" id="navIcon">
            <span>Create</span>
          </a>
          <a class="nav-link border-bottom border-light" id="v-pills-invite-tab" data-toggle="pill" href="#v-pills-messages" routerLink='/invite/{{id}}' role="tab"
            aria-controls="v-pills-invite" aria-selected="false">
            <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/message-512.png" id="navIcon">
            <span>Invite</span>
          </a>
          <a routerLink='/archive/{{id}}' class="nav-link border-bottom border-light" id="v-pills-archive-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
            aria-controls="v-pills-archive" aria-selected="false">
            <img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/10.Folder-512.png" id="navIcon">
            <span>Archive</span>
          </a>
          <a routerLink='/join/{{id}}' class="nav-link border-bottom border-light" id="v-pills-join-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
            aria-controls="v-pills-join" aria-selected="false">
            <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/group-512.png" id="navIcon">
            <span>Join</span>
          </a>
          <a routerLink='/purchaseHistory/{{id}}' class="nav-link" id="v-pills-dashboard-tab" data-toggle="pill" href="#v-pills-home" role="tab"
            aria-controls="v-pills-dashboard" aria-selected="true">
            <img src="https://cdn4.iconfinder.com/data/icons/linecon/512/time-512.png" alt="" id="navIcon">
            <span>History</span>
          </a>
        </div>
      </div>
      <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br> <br>
  </div>

  <div class="das">
    <div class="dash">
      <h2 id="dashboard">{{name}}</h2>
    </div>
    <br> 
    <div *ngIf='!assigneditems'>
      <br>
      <h3 style="font-family: Helvetica; margin-left: 9em;">You don't have anything in your registry :( add items!! </h3>
      <br>
      <br>
      <hr style="background-color:purple; margin-left: 8em; width: 85%;">
    </div>
      <div *ngIf='assigneditems' style="margin-left: 5em;">
        <br>
        <h6 class="text-center" style="font-family: Helvetica;">Items in your registry: </h6>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Name of Item</th>
              <th class="text-center">Price</th>
              <th class="text-center">Location</th>
              <th class="text-center">Status</th>
              <th class="text-center">Bought By</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let newItem of assigneditems">
              <td class="text-center">{{newItem.name}}</td>
              <td class="text-center">{{newItem.price | currency: 'USD'}}</td>
              <td class="text-center">{{newItem.location}}</td>
              <td class="text-center">{{newItem.status}}</td>
              <td class="text-center"> {{newItem.lastName}}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <hr style="background-color:purple;">
      </div>
      <div style="margin-left:6em;">
        <br>
        <h6 class="text-center" style="font-family: Helvetica;"> Currently in your cart...</h6>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-left">Add</th>
              <th class="text-center">Name of Item</th>
              <th class="text-center">Price</th>
              <th class="text-center">Location</th>
              <th class="text-center">Status</th>
            </tr>
          </thead>
          <tbody *ngIf="cart">
              <tr *ngFor="let newItem of unassignedcart">
                <td class="form-check">
                  <input style="margin-left: 0.7em;" type="checkbox" class="form-check-input" [disabled]="newItem.disabled" id="checkRemove" (change)="addItem($event.target.checked, newItem);">
                </td>
                <td class="text-center">{{newItem.name}}</td>
                <td class="text-center">{{newItem.price | currency: 'USD'}}</td>
                <td class="text-center">{{newItem.location}}</td>
                <td class="text-center">{{newItem.status}}</td>
              </tr>
            </tbody>
        </table>
      </div>
      <br>
      <button type="button" class="btn btn-lg" style="background-color: #cdb4db; margin-left: 26em;" id="archiveButton" (click)="addItems()">
        Add Item(s)
      </button>
      
      <hr style="margin-left: 4em; width: 94%;">
      <br>
      <br>
      <div>
        <h3 id="dashboard" style="margin-left: 2em;">Invited Users</h3>
        <br>
        <div *ngIf="!viewers">
          <p>No invited users!</p>
        </div>
        <div *ngIf="viewers">
          <ul class="list-group" *ngFor="let viewer of viewers; let i = index">
            <li class="list-group-item">
              <button class="btn btn-danger" (click)="removeUserFromReg(i)">X</button> {{ viewer.email }}</li>
          </ul>
        </div>
      </div>
      <br>
      <hr style="margin-left: 4em;">
      <button type="button" class="btn btn-lg" style="background-color: rgb(190, 186, 186); margin-left: 24em;" id="deleteButton" data-toggle="modal"
        data-target="#deleteModal">
        DELETE REGISTRY
      </button>
      <br> <br> <br>
    </div> 
  </div>
</div>

<div class="deleteModal">
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="joinModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModal">Delete Registry</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Are you sure you want to delete this registry?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" style="background-color: #a7c1e0a2;" data-dismiss="modal">NO</button>
          <button type="button" class="btn" style="background-color: #e5d4ee;" data-dismiss="modal" (click)='deleteRegistry()' routerLink='/dashboard/{{id}}'>Yes!</button>
        </div>
      </div>
    </div>
  </div>
</div>
