<div class="topbuttons">
  <app-sidebuttons></app-sidebuttons>
</div>
  
<div>
  <div class="menu border-right border-light float-left">
    <app-sidebar></app-sidebar>
  </div>
  <div class="das">

      <div class="dash">
        <h2 id="dashboard">Dashboard</h2>
      </div>
      <br>
      <h3 class="text-center" style="font-family: Helvetica;" [hidden]="cart[0]!=undefined">You don't have anything in your cart now :( </h3>
  
      <div>
        <br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class='text-center'>Remove</th>
              <th class='text-center'>Name of Item</th>
              <th class='text-center'>Price</th>
              <th class='text-center'>Location</th>
              <th class='text-center'>Status</th>
            </tr>
          </thead>
          <tbody *ngIf="cart">
            <tr *ngFor="let item of cart; let i = index;">
              <td class='text-center'>
                <button style="color: white;" class='btn btn-sm btn-danger' (click)='removeItem(account.id, i)'>X</button>
              </td>
              <td class='text-center'>{{item.name}}</td>
              <td class='text-center'>{{item.price}}</td>
              <td class='text-center'>{{item.location}}</td>
              <td class='text-center'>{{item.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#addModal" style="background-color: #a7c1e0a2; margin-left: 16em;"
        id="addItem"> Add Item</button>
  
      <br>
      <br>
      <br>
      <br>
      <div>
        <h3 id="dashboard">Claimed Items</h3>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class='text-center'>Name of Item</th>
            <th class='text-center'>Price</th>
            <th class='text-center'>Location</th>
            <th class='text-center'>Buy</th>
          </tr>
        </thead>
        <p *ngIf="!claimed">
          <br>You have no claimed items!!</p>
        <tbody *ngIf="claimed">
          <tr *ngFor="let item of claimed; let i = index;">
            <td class='text-center'>{{item.name}}</td>
            <td class='text-center'>{{item.price}}</td>
            <td class='text-center'>{{item.location}}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-success" (click)="markAsBought(i)" [disabled]="item.status=='bought'">Buy</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>
  
  <div class="addModal">
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModal">Add an item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <h6 class="joinMessage">Add an item to your cart!</h6>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="name">Item name</label>
                <input type="text" class="form-control" id="regCode" aria-describedby="codeHelp" placeholder="Enter name" [ngModel]="newItem.name"
                  (ngModelChange)="newItem.name = $event" name="iname">
              </div>
              <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="regCode" aria-describedby="codeHelp" placeholder="Enter price" [ngModel]="newItem.price"
                  (ngModelChange)="newItem.price = $event" name="iprice">
              </div>
              <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="regCode" aria-describedby="codeHelp" placeholder="Enter location" [ngModel]="newItem.location"
                  (ngModelChange)="newItem.location = $event" name="ilocation">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" style="background-color: #a7c1e0a2;" data-dismiss="modal" (click)="newItem={}">Cancel</button>
            <button type="button" class="btn" style="background-color: #e5d4ee;" data-dismiss="modal" (click)="addItem()">Add</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>
