.dash {
  padding-top: 1em;
  background:  -webkit-linear-gradient(left, #a7c1e0a2, #e5d4ee);
  border: none;
  padding-bottom: 0.4em;
}

#dashboard {
  text-size: 90%;
  text-transform: uppercase;
  font-family: 'Palatino', sans-serif;
  letter-spacing: .1em;
}

h4 {
  margin: 1em;
}

h2{
  margin-left: 1em;
}

#email {
  font-family: 'Palatino', sans-serif;
  letter-spacing: .1em;
  padding-left: 1em;
  padding-right: 1em;
}

#joinButton {
  width: 15%;
  margin-left: 16em;
  text-align: center;
}
