.dash {
  padding-top: 1em;
  background-color: #e6eeff;
  border-top: solid rgb(36, 62, 175) .09em;
  padding-bottom: 0.4em;
}

#dashboard {
  text-size: 90%;
  text-transform: uppercase;
  font-family: 'Palatino', sans-serif;
  letter-spacing: .1em;
}

h4 {
  margin: 1em;
}

h2{
  margin-left: 1em;
}

#email {
  font-family: 'Palatino', sans-serif;
  letter-spacing: .1em;
  padding-left: 1em;
  padding-right: 1em;
}

#joinButton {
  width: 15%;
  margin-left: 25em;
  text-align: center;
}

.das{
  margin-left: 14em;
  width:84.4%;
}
