<div>
    <br> <br> <br>
</div>

<div class="container">
    <div class="sheet">
      <div class="row">
        <div class="col-md-6 align-self-center container" style="padding-right:1.5em;">
          <h2 id="maintitle" class="alert" style="color:black;">Gift Registry</h2>
          <img src="https://media.giphy.com/media/U4teIjRowtTSU/giphy.gif" alt="gifttt">
        </div>

      <div class="col-md-6">
          <div class="card text-white bg-info mb-3" >
          <div class="card-body">
            <h3 class="text-center">Sign Up</h3>
            <div class="form-group">
              <label for="account_lname">
                Last Name:
              </label>
              <input type="text" id="account_lname"  placeholder="Last Name" class="form-control" [(ngModel)]="account.lastName" required/>
            </div>
            <div class="form-group">
              <label for="account_fname">
                First Name:
              </label>
              <input type="text" id="account_fname" placeholder="First Name" class="form-control" [(ngModel)]="account.firstName" required/>
            </div>
            <div class="form-group">
              <label for="account_email">
                Email:
              </label>
              <input type="email" (input)="onSearchChange($event.target.value)" id="account_email" placeholder="Email"  class="form-control" [(ngModel)]="account.email"
              />
              <span class="badge badge-success" [ngStyle]="{'display':state==3 ? 'inline' : 'none' }">Valid Email!</span>
              <span class="badge badge-danger" [ngStyle]="{'display':state==2 ? 'inline' : 'none' }">Not a valid email</span>
              <span class="badge badge-warning" [ngStyle]="{'display':state==1 ? 'inline' : 'none' }">Warning</span>

            </div>
            <div class="form-group">
              <label for="account_phone">
                Phone Number:
              </label>
              <input type="text" id="account_phone" class="form-control" placeholder="Phone Number" [(ngModel)]="account.phone" required/>
            </div>
            <div class="form-group">
              <label for="account_password">
                Password:
              </label>
              <input ng-hide="showpassword" type="password" ng-model="password" placeholder="Password" id="account_password" class="form-control" [(ngModel)]="account.password"
               required/>
            </div>
          </div>
          <br>
          <button id="signup-btn" class="btn btn-sm btn-success" type="button">
              <strong>Sign Up</strong>
            </button>
            <p></p>
            <button id="cancel-btn" class="btn  btn-sm btn-dark" type="button" [routerLink]="['/login']">
              <strong>Cancel</strong>
            </button>
            <p></p>
        </div>
      </div>
      <!-- <div class="col-md-4">
        ?
        <pre>{{account|json}}</pre>

      </div> -->
    </div>
  </div>
</div>
<br />
