<br>
<div class="container">
  <div class="row">
    <div class="col-2">
      <app-sidebar [id] = "id"></app-sidebar>
    </div>
    <div class="col-8">
      <div class="dash">
        <h2 id="dashboard">Profile Settings</h2>
      </div>
      <div id="font" class="modal-body">
        <div id="font">
          <h4 style="margin-left:-.6em;">YOUR old password:</h4>
          <input placeholder="old password goes here" id="padding" type="password" class="form-control" id="exampleFormControlInput1" [(ngModel)]="password">
        </div>
        <div id="font">
          <h4 style="margin-left:-.6em;">YOUR new password:</h4>
          <input placeholder="type new password here" type="password" class="form-control" id="exampleFormControlInput2" [(ngModel)]="newPassword1">
        </div>
        <div id="font">
          <h4 style="margin-left:-.6em;">Confirm YOUR new password:</h4>
          <input placeholder="retype your new password" type="password" class="form-control" id="exampleFormControlInput3" [(ngModel)]="newPassword2">
        </div>
      </div>
      <button type="button" class="btn btn-lg" (click)="update()" style="background-color: #e5d4ee;" id="changeButton">change my password</button>
      <h1 [hidden]="success">{{message}}</h1>
    </div>
    <div class="col-2">
      <app-sidebuttons></app-sidebuttons>
    </div>
    <!--end div class col 2-->

  </div>
  <!--end div for the row class-->
</div>
