.dash {
  padding-top: 1em;
  background-color: #e6eeff;
  border-top: solid rgb(36, 62, 175) .09em;
  padding-bottom: 0.4em;
  padding-left: 2em;
}

  #dashboard {
    text-size: 90%;
    text-transform: uppercase;
    font-family: 'Palatino', sans-serif;
    letter-spacing: .1em;
  }

  .das{
    margin-left: 14em;
    width:84.4%;
  }

  h4 {
    margin: 1em;
  }
  
  h2{
    margin-left: 1em;
  }

  #font {
    font-family: 'Palatino', sans-serif;
    letter-spacing: .1em;
    margin-left: .5em;
    text-align: center;
    /* padding-left: 19em; */
    padding-right: 1em;
  }

  #changeButton {
    width: 25%;
    margin-left: 21.5em;
    text-align: center;
    background-color: #e5d4ee;
  }