<div class="topbuttons">
  <app-sidebuttons></app-sidebuttons>
</div>
  
<div>
  <div class="menu border-right border-light float-left">
    <app-sidebar></app-sidebar>
  </div>
  <div class="das">
    <div class="dash">
      <h2 id="dashboard">Profile Settings</h2>
    </div>
    <br>
    <h4 id="font">YOUR old password:</h4>
    <input style="margin-left:27em; width: 19em;" placeholder="old password goes here" type="password" [(ngModel)]="password">
    <h4 id="font">YOUR new password:</h4>
    <input style="margin-left:27em; width: 19em;" placeholder="type new password here" type="password" [(ngModel)]="newPassword1">
    <h4 id="font">Confirm YOUR new password:</h4>
    <input style="margin-left:27em; width: 19em;" placeholder="retype your new password" type="password" [(ngModel)]="newPassword2">
    <br> <br>
    <button id="changeButton" class="btn btn-lg" (click)="update()">change my password</button>
    <h4 [hidden]="success" style="font-family: Helvetica; margin-left: 17em;">{{message}}</h4>
  </div>
</div>
