.sheet{
  width:100%;
}

.image{
  background-image: url("../../assets/hearts.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h3{
  color: #343434;
	font-size: 1.7em;
	line-height: 2em;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Orienta', sans-serif;
	letter-spacing: .5em;
	font-style: italic;
}

#maintitle {
  font-family: 'Palatino', sans-serif;
  letter-spacing: .3em;
  text-transform: uppercase;
  margin-right: 1.55em;
  text-align: center;
}

.card-body {
  background: -webkit-linear-gradient(left, #a7c1e0a2, #eed4df);
}

.back-color {
  background: -webkit-linear-gradient(left, #e5d4ee, #a7c1e0a2);
}

.card {
   border:none;
   background: -webkit-linear-gradient(left, #a7c1e0a2, #eed4df);
}

alert {
  text-color:black;
}

#login-button {
  margin-left: 10em;
  margin-right: 10em;
  font-family: 'Palatino', sans-serif;
  letter-spacing: .3em;
  font-size: 120%;
}

#no-account {
  text-align: center;
  font-family: Helvetica;
  color: black;
}

#links, a:link {
  color: purple;
}

a:hover {
  text-decoration: underline;
}
