<br>
<div class="container">
    <div class="row">
      <div class="col-2">
        <h2>Menu</h2>
        <ul class="nav flex-column" >
            <li class="nav-item">
                <a class="nav-link active" href="#"><img src="https://cdn3.iconfinder.com/data/icons/streamline-icon-set-free-pack/48/Streamline-18-512.png" alt="" id="navIcon"><span>Dashboard</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="https://cdn2.iconfinder.com/data/icons/arrows-and-universal-actions-icon-set/256/plus_circle-512.png" id="navIcon"><span>Create</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/message-512.png" id="navIcon"><span>Invite</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/10.Folder-512.png" id="navIcon"><span>Archive</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/group-512.png" id="navIcon"><span>Join</span></a>
            </li>
          </ul>
      </div>
      <div class="col-8">
          <h2>Dashboard</h2>
          <hr>
          <div class="myRegistries">
            <h4><u>My Registries</u></h4>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h5 class="mb-1">Registry 1</h5>
                    <small class="mb-1">Description</small>
                </a>
            </div>
          </div>
          <br>
          <div class="otherRegistries">
            <h4><u>Invited Registries</u></h4>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h5 class="mb-1">Registry 1</h5>
                    <small class="mb-1">Description</small>
                </a>
            </div>
          </div>
      </div>
      <div class="col-2">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                username
                <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/gift-512.png" id="userIcon">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">My Account</a>
                <a class="dropdown-item" href="#">Notifications</a>
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </div>
        </div>
    </div>
  </div>
