<div class="topbuttons">
  <app-sidebuttons></app-sidebuttons>
</div>

<div>
  <div class="menu border-right border-light float-left">
    <app-sidebar></app-sidebar>
  </div>

  <div class="das">
    <div class="dash">
      <h2 id="dashboard">Dashboard</h2>
    </div>
    <br>
    <br>
    <div style="margin-left: 4em;" class="myRegistries">
      <h4 id="registry">
        <u>My Registries</u>
      </h4>
      <div *ngIf=!length>
        <h4 class="alert noReg" style="width: 93%; background: #e5d4ee">You don't have any registries right now :( </h4>
      </div>
      <div class="list-group" *ngIf=length>
        <a *ngFor="let r of registry" routerLink='/registry/{{id}}/{{r.registry_id}}' class="list-group-item">
          <h5 class="mb-1">{{r.name}}</h5>
          <small class="mb-1">{{r.description}}</small>
        </a>
      </div>
    </div>
    <br>
    <div style="margin-left: 4em;" class="otherRegistries">
      <h4 id="invited">
        <u>Invited Registries</u>
      </h4>
      <div *ngIf=!invLength>
        <h4 class="alert noInvReg" style="width: 93%; background: #e5d4ee">You have not been invited to any registries yet </h4>
      </div>
      <div class="list-group" *ngIf=invLength>
        <a *ngFor="let reg of inviteReg" routerLink='/viewRegistry/{{id}}/{{reg.registry_id}}' class="list-group-item">
          <h5 class="mb-1">{{reg.name}}</h5>
          <small class="mb-1">{{reg.description}}</small>
        </a>
      </div>
    </div>
  </div>
</div>
